<!--String Interpolation-->
<h1> Hola Mundo </h1>
<h2> {{"Hola Mundo".repeat(5)}} </h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{age}}</h3>
<hr>
<!--Property Binding-->
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<hr>
<!--Property Binding-->
<button (click)=toggleButton()> toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)=increaseAge()> Increase Edad</button>
<hr>
<div class="Box" (scroll)=onScroll($event)>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae est enim iste, molestias debitis, totam vero quis quibusdam dicta quod assumenda modi nulla vitae eos distinctio illo voluptatem nesciunt repellendus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci unde aliquam, reiciendis repellendus porro, suscipit, odit necessitatibus eos animi aspernatur sint quibusdam illo voluptates commodi. Illum magni maxime cumque itaque?</p>
</div>
<hr>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre modificado: {{person.name}}</p>
